<div class="cont_all" *ngIf="x != 11 && !(min == 0 && secs == 0); else elseBlock">
   <div class="NumQues">
      Question {{ x }} of 10
      <div class="timer">
         Timer: {{ min }} : {{ secs }}
      </div>

   </div>

   <div class="displayQues">
      {{ questions.Question }}
      <form [formGroup]="this.form">
         <div class="options">
            <div class="divide">
               <input type="radio" formControlName="options" value="A" id="A" class="dc">
               <label class="dc" for="A">{{ questions.Option_A }}</label>
               <input type="radio" formControlName="options" value="B" id="B" class="dc">
               <label class="dc" for="B">{{ questions.Option_B }}</label>
            </div>
            <div class="divide">
               <input type="radio" formControlName="options" value="C" id="C" class="dc">
               <label class="dc" for="C">{{ questions.Option_C }}</label>
               <input type="radio" formControlName="options" value="D" id="D" class="dc">
               <label class="dc" for="D">{{ questions.Option_D }}</label>
            </div>
         </div>
      </form>
      <div class="button" (click)="onSubmit()">
         Submit
      </div>
   </div>
</div>


<ng-template #elseBlock class="cont_all">
   <div class="cont_all">
      <div class="NumQues">
         Test Over
      </div>

      <div class="displayQues">
         You got {{ correct }} out of 10 questions correct!
      </div>
   </div>
</ng-template>