<div class="container_">
   <div class="cont_all">
      <div class="home">
         <div class="home1"> <i class="fa fa-home"></i> Home Page</div>
         <div *ngIf="user" class="home2"><i class="fa fa-user"></i>Logged in as: {{ user?.email }} -
            {{ user?.displayName }}</div>
      </div>
      <div class="console">
         <div class="name"> Adasys </div>
         <div class="purpose">A system for conducting adaptive examinations</div>
         <div class="getStarted">Get Started</div>
         <div class="place_buttons">
            <button class="button1" *ngIf="!user" (click)="register()">Register</button>
            <button class="button2" *ngIf="!user" (click)="login()">Login</button>
            <button class="button1" *ngIf="user" (click)="questions()">Submit Questions</button>
            <button class="button2" *ngIf="user" (click)="test()">Answer Test</button>
         </div>
      </div>
   </div>
   <div class="next">
      <div class="instructions">
         <div class="heading">
            <div class="icon"><i class="fa fa-question"></i></div>What is Adaptive Examination?
         </div>
         <div class="points">
            &#8226; Adaptive examination is a method to conduct test that adapts to the candidate's capability.<br>
            &#8226; If a question answered is incorrect, the next question will be of a lesser difficulty level.<br>
            &#8226; If a question answered is correct, the next question will be of a higher difficulty level.
         </div>
      </div>
      <div class="instructions">
         <div class="heading">
            <div class="icon"><i class="fa fa-cogs"></i></div>How the system works:
         </div>
         <div class="points">
            &#8226; Register yourself using an email.<br>
            &#8226; Login to the system.<br>
            &#8226; To enter questions to the database, click on Submit Questions.<br>
            &#8226; To give examination, click on Answer Test.
         </div>
      </div>
   </div>
</div>